<div class="autocomplet-wrapper">
	<input class="autocomplet-input"
		   type="text"
		   [(ngModel)]="inputModel"
		   (focus)="searchOptions()"
		   (click)="searchOptions()"
		   (blur)="closeOptions()"
		   (keydown)="moveCursor($event)"
		   (ngModelChange)="searchOptions()">
	<ul class="autocomplete-list"
		*ngIf="isFocus">
		<li *ngFor="let option of options; let i = index;"
			class="autocomplete-list-option" [ngClass]="{'selected': i === selectedIndex}"
			(mousedown)="selectOption($event, i)">
			{{getOptionContent(option)}}
		</li>
		<li class="autocomplete-list-noresult"
			*ngIf="options.length === 0">
			no results
		</li>
	</ul>
</div>
