<div class="autocomplet-wrapper">
	<div [ngClass]="{'input-group': inputModel}">
		<input class="autocomplet-input form-control"
			   type="text"
			   [(ngModel)]="inputModel"
			   (focus)="searchOptions()"
			   (click)="searchOptions()"
			   (blur)="closeOptions()"
			   (keydown)="moveCursor($event)"
			   (ngModelChange)="searchOptions()"
		#autocompleteInput>
		<span *ngIf="inputModel" class="input-group-addon" (click)="inputModel = '';autocompleteInput.focus();">
			<i class="fa fa-close" aria-hidden="true"></i>
		</span>
	</div>
	<ul class="autocomplete-list"
		*ngIf="isFocus">
		<li *ngFor="let option of options; let i = index;"
			class="autocomplete-list-option" [ngClass]="{'selected': i === selectedIndex}"
			(mousedown)="selectOption($event, i)">
			{{getOptionContent(option)}}
		</li>
		<li class="autocomplete-list-noresult"
			*ngIf="options.length === 0">
			no results
		</li>
	</ul>
</div>
