.alert {
    position: fixed;
    margin: 8px;
    bottom: -50%;
    left: 12.5%;
    width: 75%;
    z-index: 100;
    transition: all 300ms ease-in-out;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.28), 0 2px 8px rgba(0, 0, 0, 0.38);

    &.alert-show {
        bottom: 0;
    }
}
