.home-header {
    margin: 20px auto 16px;
}

.idea-container {
    .idea-description {
        white-space: pre;
    }
    .related-ideas-btn {
        margin-bottom: 10px;
    }
}

.jumbotron {
    background: #dedede !important;
}

.btn{
    margin: 0 4px;
}
