.home-header {
    margin: 20px auto 16px;
}

.home-idea-container {
    margin: 4px auto;
    border-radius: 10px;
    border: black 2px solid;
    padding: 8px;

    .related-ideas {
        font-size: 12px;
        opacity: 80;
    }
}
