<div class="container-fluid">
	<div class="row home-header">
		<div class="col-sm-12 col-md-12">
			<button class="btn btn-primary pull-right" routerLink="/new-idea">New idea</button>
		</div>
	</div>

	<div class="jumbotron" *ngIf="ideas.length == 0">
		<h1>There aren't ideas! :(</h1>
		<p>To create one use <b>New idea</b> button.</p>
	</div>

	<div class="row idea-container" *ngFor="let idea of ideas; let i = index">
		<div class="panel panel-default container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<h4 class="pull-left">{{idea.title}}</h4>
					<button class="btn btn-icon-warning pull-right" (click)="deleteIdea(i,idea)">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</button>
				</div>
			</div>
			<p *ngIf="idea.description" class="idea-description">{{idea.description}}</p>

			<button *ngIf="idea.relatedIdeas.length" class="btn btn-default pull-right related-ideas-btn" type="button">
				{{idea.relatedIdeas.length}} related ideas
			</button>

		</div>
	</div>
	<div></div>
</div>
